.banner {
    background: linear-gradient(to top, $colorred, #300606);
    @media screen and (max-width: 768px) {
        min-height: 75vh;
    }

    .container_mouse {
        text-align: center;
        color: #eaeaea;
        position: absolute;
        z-index: 12;
        font-weight: bold;
        padding-top: 2rem;
        cursor: pointer;
        left: 50%;
        top: 85%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        display: none;
        @media screen and (max-width: 768px) {
            padding-top: 0;
            display: block;
            // top: -40px;
        }
    }

    .container_mouse .mouse-btn {
        margin: 10px auto;
        width: 30px;
        height: 60px;
        border: 4px solid #eaeaea;
        border-radius: 30px;
        display: flex;
    }

    .container_mouse .mouse-btn .mouse-scroll {
        display: block;
        width: 16px;
        height: 16px;
        background: linear-gradient(170deg, rgba(#eaeaea, 1), rgba(black, 0.1));
        border-radius: 50%;
        margin: auto;
        animation: scrolling 1s linear infinite;
    }

    @keyframes scrolling {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }

        100% {
            opacity: 1;
            transform: translateY(20px);
        }
    }
    #container {
        overflow: hidden;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 60%;
        width: 70vw;
        // width: 100%;
        height: 70vh;
        // box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
        filter: sepia(30%);
        // border: solid 5px $colorred;
        &::before {
            content: "";
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 60%;
            width: 100%;
            // width: 100%;
            height: 70%;
            border: 8px solid $colorred;
            border-radius: 24px;
            box-shadow: inset 0px 0px 150px 20px black;
        }
        @media screen and (max-width: 766px) {
            width: 95%;
            height: 30vh;
        }
    }
    #container:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        // box-shadow: inset 0px 0px 150px 20px black;
        // box-shadow: none;
        mix-blend-mode: multiply;
        @media screen and (max-width: 768px) {
            // box-shadow: inset 0px 0px 40px 20px black;
        }
    }
    #pic {
        opacity: 1;
    }
    .pic {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .line {
        position: absolute;
        height: 100%;
        width: 1px;
        opacity: 0.1;
        background-color: #000;
    }
    .title {
        position: absolute;
        left: 50%;
        z-index: 10;
        top: 20%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        h2 {
            color: white;
            font-family: "Bevan", sans-serif !important;
            font-size: 2.5rem;
            @media screen and (max-width: 768px) {
                font-size: 2rem;
            }
        }
    }

    .bgbg {
        position: absolute;
        left: 50%;
        top: 60%;
        // background: white;
        // border: 2px solid white;
        width: 60%;
        height: auto;
        transform: translate(-50%, -50%);
        @media screen and (max-width: 768px) {
            width: 100%;
            top: 55%;
            height: 35vh;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            @media screen and (max-width: 768px) {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .wallpaper {
        position: relative;
        width: 50%;
        margin: 0 auto;
        height: 80vh;
        border: 1px solid;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        .cek {
            position: absolute;
            width: 100%;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: auto;
            // opacity: 0.8;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .image {
            position: absolute;
            width: 200px;
            top: 30%;
            height: auto;
            @media screen and (max-width: 768px) {
                width: 50%;
                top: 50%;
            }

            &-petani {
                &-1 {
                    left: 0%;
                }
                &-2 {
                    left: 10%;
                }
            }
            &-polisi {
                &-1 {
                    right: 0%;
                }
                &-2 {
                    right: 10%;
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}
