.pembukaan {
    background: #300606;
    padding: 182px 0 32px;
    @media screen and (max-width: 768px) {
        padding: 102px 0 32px;
    }
    p {
        font-family: "Source Code Pro";
    }
    .ambul {
        position: relative;
        width: 100%;
        height: 300px;
        margin: 52px auto 16px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .helpbg {
        position: absolute;
        top: -16px;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
